# Folder exclusion set garrdai ...
bootstrap/*
config/*
storage/*
tests/*

# Bhhera ko open root files haru exclude garrdai ...
.env
.env.example
artisan
composer.json
composer.lock
package.json
phpunit.xml
server.php
webpack.mix.js
yarn.lock